@CHARSET "UTF-8";

table {
	border-left: 1px solid #222222;
	border-top: 1px solid #222222;
}

table+table {
	margin-top: 5px;
}

table th,td {
	padding: 2px;
	margin: 0px;
	border-bottom: 1px solid #222222;
	border-right: 1px solid #222222;
}

input {
	padding-left: 2px;
	height: 22px;
	line-height: 24px;
	border: 1px solid #000000;
}

textarea {
	border: 1px solid #000000;
}

.page-footer {
	position: static;
	line-height: 25px;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
	padding-right: 20px;
	border-top: 1px solid #000000;
}
